* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

#navbar {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar img {
    width: 200px;
}
#navbar #logo {
    margin-right: auto;
}