
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Tahoma;
}

#hero {
    background-image: url(../images/forest.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}

#hero h2 {
    font-size: 8vw;
    color: white;
    margin-bottom: 5vh;
    margin-right: 5vw;
}
#hero h4 {
    font-size: 4vw;
    color: white;
    margin: 0px 5vw 0px 0px;
}

#hero a {
    font-size: 2.5vh;
    text-decoration: none;
    display: inline-block;

    margin: 5vh 5vw 10vh 0px;
}
#hero button {
   font-size: 2vh;
   border-radius: 10px;
   padding: 2vw;
}
#hero button:hover {
    background-color: cornsilk;
}

#hero-2 {
    background-image: url("../images/wheel.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}

#hero-2 .hero-content {
    position:absolute;
    top: 10%;
    left: 15%;
}

#hero-2 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

#hero-2 h4 {
    font-size: 4vw;
    margin: 0px 5vw 0px 0px;
}

#hero-2 a {
    font-size: 2.5vw;
    display: inline-block;
    background-color: rgb(63, 62, 62);
    color:white;
    text-decoration: none;
    padding: 15px;
    margin: 5vh 5vw 10vh 0px;
    border-radius: 8px;
}

#hero-3 {
    background-image: url("../images/confetti.jpg");
    height: 100vh;
    background-size:cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-3 .hero-content {
    text-align: center;
    background-color:rgb(153, 50, 204, 0.7);
    color: white;
    padding: 5vh;
    border-radius: 15px;
}

#hero-3 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

#hero-3 h4 {
    font-size: 5vw;
    margin: 0px 5vw 0px 0px;
}

#hero-3 a {
    font-size: 3vw;
    display: inline-block;
    background-color: white;
    text-decoration: none;
    padding: 15px;
    margin: 5vh 5vw 3vh 0px;

}

